            Uttarakhand Flood  - QnA System

In [ ]:
%ls

sample_data/

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [ ]:
%cd ..

/content

In [ ]:
%ls /content/

drive/  sample_data/

In [ ]:
%cd drive

/content/drive

In [ ]:
%ls

MyDrive/  Shareddrives/

In [ ]:
%cd MyDrive/

/content/drive/MyDrive

In [ ]:
%cd ROOT2AI_Technology_Private_Limited/

/content/drive/MyDrive/ROOT2AI_Technology_Private_Limited

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
qna = pd.read_csv('qnacsv.csv')

In [ ]:
qna.head()

                        Question         Answer
0   What is the helpline number?  1200467332888
1  What happened in Uttarakhand?     Cloudburst
2  How many people are affected?           1000

In [ ]:
def getResults(questions, fn):
    def getResult(q):
        answer, score, prediction = fn(q)
        return [q, prediction, answer, score]
    return pd.DataFrame(list(map(getResult, questions)), columns=["Q", "Prediction", "A", "Score"])
test_data = [
    "What is the helpline number?",
    "What happened in Uttarakhand?",
    "How many people are affected?	",
    "How many people are affected?",
    " What is the helpline number?",
    "  What is the helpline number?"
]

In [ ]:
import re
def getNaiveAnswer(q):
    # regex helps to pass some punctuation signs
    row = qna.loc[qna['Question'].str.contains(re.sub(r"[^\w'\s)]+", "", q),case=False)]
    if len(row) > 0:
        return row["Answer"].values[0], 1, row["Question"].values[0]
    return "Sorry, I didn't get you.", 0, ""
getResults(test_data, getNaiveAnswer)

                                 Q  ... Score
0     What is the helpline number?  ...     1
1    What happened in Uttarakhand?  ...     1
2  How many people are affected?\t  ...     0
3    How many people are affected?  ...     1
4     What is the helpline number?  ...     0
5     What is the helpline number?  ...     0

[6 rows x 4 columns]

In [ ]:
!pip install Levenshtein

Collecting Levenshtein
  Downloading https://files.pythonhosted.org/packages/8e/41/ff25ae28c972a63abde29cd5cea7c648ae0e16b334693cede0522e66dd68/levenshtein-0.12.0-cp37-cp37m-manylinux1_x86_64.whl (158kB)
     |████████████████████████████████| 163kB 4.8MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from Levenshtein) (54.1.2)
Installing collected packages: Levenshtein
Successfully installed Levenshtein-0.12.0

In [ ]:
from Levenshtein import ratio
def getApproximateAnswer(q):
    max_score = 0
    answer = ""
    prediction = ""
    for idx, row in qna.iterrows():
        score = ratio(row["Question"], q)
        if score >= 0.9: # I'm sure, stop here
            return row["Answer"], score, row["Question"]
        elif score > max_score: # I'm unsure, continue
            max_score = score
            answer = row["Answer"]
            prediction = row["Question"]
    if max_score > 0.8:
        return answer, max_score, prediction
    return "Sorry, I didn't get you.", max_score, prediction
getResults(test_data, getApproximateAnswer)

                                 Q  ...     Score
0     What is the helpline number?  ...  1.000000
1    What happened in Uttarakhand?  ...  1.000000
2  How many people are affected?\t  ...  0.983051
3    How many people are affected?  ...  1.000000
4     What is the helpline number?  ...  0.982456
5     What is the helpline number?  ...  0.965517

[6 rows x 4 columns]

In [ ]:
from Levenshtein import ratio
def getApproximateAnswer2(q):
    max_score = 0
    answer = ""
    prediction = ""
    for idx, row in qna.iterrows():
        score = ratio(row["Question"], q)
        if score >= 0.9: # I'm sure, stop here
            return row["Answer"], score, row["Question"]
        elif score > max_score: # I'm unsure, continue
            max_score = score
            answer = row["Answer"]
            prediction = row["Question"]
    if max_score > 0.3: # threshold is lowered
        return answer, max_score, prediction
    return "Sorry, I didn't get you.", max_score, prediction
getResults(test_data, getApproximateAnswer2)

                                 Q  ...     Score
0     What is the helpline number?  ...  1.000000
1    What happened in Uttarakhand?  ...  1.000000
2  How many people are affected?\t  ...  0.983051
3    How many people are affected?  ...  1.000000
4     What is the helpline number?  ...  0.982456
5     What is the helpline number?  ...  0.965517

[6 rows x 4 columns]

# **End**